{% extends "myheader.html" %}
{% block title %}
Index
{% endblock %}



<body>
{% block content %}

<div class="container">
   <center>
        <h1>Welcome to GITC First Git Repo on Flask Project</h1>
        <img src="static/imgs/arduino.png" width="300px">
   </center>
</div>

<center class="container">
    <form method="post" action="/getdata">
        <div class="form-group">
            <label>Full Name:</label>
            <input name="fname" type="text" placeholder="Full Name">
        </div>

        <div class="form-group">
            <label>Email Address:</label>
            <input type="email"  name="memail" placeholder="Full Name">
        </div>

        <div class="form-group">
            <label>Gender:</label>
            <input name="sex" type="radio"> Male
            <input name="sex" type="radio">Female
        </div>

        <div class="form-group">
            <label>Full Address:</label>
            <textarea name="address" placeholder="Full Address"></textarea>
        </div>

        <button type="submit" style="background-color: Red; color:white;"> Send In Info</button>
    </form>

    <a href="/login" class="btn btn-primary"> Goto Login</a>
    <a href="/reg" class="btn btn-danger"> Goto reg form</a>

</center>
{% endblock %}
</body>
