<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <h1>Welcome to GITC First Git Repo on Flask Project</h1>
</div>

<div class="container">
    <form method="post" action="/getdata">
        <div class="form-group">
            <label>Full Name:</label>
            <input name="fname" type="text" placeholder="Full Name">
        </div>

        <div class="form-group">
            <label>Email Address:</label>
            <input name="fname" type="email" placeholder="Full Name">
        </div>

        <div class="form-group">
            <label>Gender:</label>
            <input name="sex" type="radio"> Male
            <input name="sex" type="radio">Female
        </div>

        <div class="form-group">
            <label>Full Address:</label>
            <textarea name="address" placeholder="Full Address"></textarea>
        </div>

        <button type="submit" style="background-color: Red; color:white;"> Send In Info</button>
    </form>

</div>

</body>
</html>